<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
	<appSettings>
		<add key="Conn" value="Provider=MSDAORA.1;User ID=webconsdev;password=webconsdev;Data Source=unixora.world;Persist Security Info=False"/>
		<add key="OUserId" value="WAMS"/>
		<add key="OPwd" value="WAMS"/>
		<add key="OServer" value="PRO-TCP"/>
		<add key="DSN1" value="Provider=MSDAORA.1;User ID=WAMS"/>
		<add key="DSN2" value="Data Source=PRO-TCP;Persist Security Info=False"/>
	</appSettings>
	<connectionStrings>
		<add name="Conn" connectionString="Data Source=unixora.world; User ID=webconsdev;Password=webconsdev"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<!--TO MAKE C# AND VB CODE WORK TOGETHER IN APP_CODE FOLDER-->
			<codeSubDirectories>
				<add directoryName="CSCode"/>
				<add directoryName="VBCode"/>
			</codeSubDirectories>
			<!--TO MAKE C# AND VB CODE WORK TOGETHER IN APP_CODE FOLDER-->
			<assemblies>
				<add assembly="Oracle.DataAccess, Version=10.2.0.100, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies><buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders></compilation>
	</system.web>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects></configuration>